@model List<PushToGa.Web.Models.ReportResultModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
    ViewData["CurrentPage"] = "Dashboard";
}

@section Scripts{

}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                <th>Event Action</th>
                <th>User Info</th>
                <th>Date</th>
                <th>Sessions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <th>@item.EventCategory</th>
                    <td>@item.EventAction</td>
                    <td>@item.EventLabel</td>
                    <td>@item.Date</td>
                    <td>@item.Sessions</td>
                </tr>
            }
        </tbody>
    </table>
</div>   
